﻿@model Comments

@{
    ViewData["Title"] = "About";
}
@using (Html.BeginForm("SaveComment", "Home", new { Id = ViewBag.IdBlog }, FormMethod.Post))
{
    <h2>Add Comment</h2>
    <table class="table">

        @if (ViewBag.SetUser)
        {
            <tr>
                <td>UserName: </td>
                <td>
                    @Html.TextBoxFor(m => m.UserName)
                </td>
            </tr>
        }
        <tr>
            <td>Text: </td>
            <td>
                @Html.TextBoxFor(m => m.Text)
            </td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Submit" /></td>
        </tr>
    </table>
}
