﻿@model Login

@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<h2>login</h2>
@using (Html.BeginForm("Login", "Home", FormMethod.Post))
{

    <table>
        <tr>
            <td>@Html.LabelFor(a => a.UserName)</td>
            <td>@Html.TextBoxFor(a => a.UserName)</td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(a => a.Password)
            </td>
            <td>
                @Html.PasswordFor(a => a.Password)
            </td>
        </tr>
        <tr>

            <td>
                <input type="submit" value="Login" />
            </td>

        </tr>
    </table>
}
