﻿@model CreatePost

<h2>Create Post</h2>
@using (Html.BeginForm("SavePost", "Home", FormMethod.Post))
{

<table  class="table">
    <tr>
        <td>@Html.LabelFor(a => a.Id)</td>
        <td>@Html.TextBoxFor(a => a.Id)</td>
    </tr>
    <tr>
        <td>
            @Html.LabelFor(a => a.Text)
        </td>
        <td>
            @Html.TextBoxFor(a => a.Text)
        </td>
    </tr>
    <tr>

        <td>
            <input type="submit" value="Save" />
        </td>

    </tr>
</table>
}
