﻿@{
    ViewData["Title"] = "Home Page";
}

<h1> List Of Posts</h1>

<table class="table">
    <thead>
        <tr>
            <th>Options</th>
            <th>Id</th>
            <th>Author</th>
            <th>Text</th>
            <th>Publish Date</th>
            <th>Comments</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @if (ViewBag.ShowDelete)
                    {
                        @Html.ActionLink("Delete", "DeletePost", "Home", new { Id = item.Id }, null)
                    }
                </td>
                <td>@item.Id</td>
                <td> @item.Author</td>
                <td>
                    @item.Text
                </td>
                <td>
                    @item.PublishAt.ToShortDateString()
                </td>
                <td>

                    <table class="table">
                        <thead>
                            <tr>
                                <th>UserName</th>
                                <th>Text</th>
                                <th>Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var Comment in item.Comments)
                            {
                                <tr>
                                    <th>@Comment.UserName</th>
                                    <th>@Comment.Text</th>
                                    <th>@Comment.PublishAt.ToShortDateString()</th>

                                </tr>
                            }
                            <tr>
                                @Html.ActionLink("Add Comment", "About", "Home", new { Id = item.Id }, null)
                            </tr>
                        </tbody>
                    </table>

                </td>
            </tr>
        }
    </tbody>
</table>


